* {
  box-sizing: border-box;
}

@font-face {
  font-family: Arial Black;
  src: url('../Arial-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Arial Black;
  src: url('../Arial-Black-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  font-family: Arial Black, Helvetica, Arial, sans-serif;
  background-color: black;
  color: rgb(225, 225, 210);
  text-align: center;
  overflow-x: hidden;
}

a {
  color: inherit;
}

.colors-2 {
  background-color: rgb(225, 225, 210);
  color: rgb(20, 20, 20);;
}

nav a:hover {
  color: rgb(189, 0, 0)
}

.links {
  font-size: 1.75rem;
  border-bottom: 1px solid rgb(225, 225, 210);
  color: rgb(225, 225, 210);
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  text-decoration: none;
}

nav {
  padding: 1rem;
  color: white;
  text-align: left;
  position: fixed;
  background-color: rgb(0, 0, 0);
  height: 5.125rem;
  opacity: 90%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  top: 0px;
  pointer-events: none;
}

.header {
  font-size: 2.25rem;
}

.sub-header {
  font-size: 1.125rem;
  float: right;
  margin-top: .75rem;
  margin-right: 1rem;
}

.hamburger {
  float: left;
  margin-top: .15rem;
  margin-right: 1.5rem;
  z-index: 100;
  position: relative;
  pointer-events: all;
}

.nav-links {
  top: 0;
  left: -200%;
  position: fixed;
  background-color: rgb(25, 25, 25);
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  padding-left: 4%;
  padding-right: 4%;
  flex-direction: column;
  gap: 1.5rem;
  transition: 0.5s ease-in-out;
  transform: translateX(100%);
  z-index: 10;
}

.nav-links-active {
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgb(25, 25, 25);
  opacity: 97%;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  padding-left: 4%;
  padding-right: 4%;
  flex-direction: column;
  gap: 1.5rem;
  transition: 0.5s ease-in-out;
  transform: translateX(0);
  z-index: 10;
  pointer-events: all;
}

.image-grid {
  
  --gap: 28px;
  --num-cols: 6;
  --row-height: 70px;

  box-sizing: border-box;
  padding: 36px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  position: relative;
}

.image-grid > a > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  transition: 250ms transform ease-in-out;
}

.image-grid > a > img:hover {
  transform: scale(1.125);
}

.image-reverse {
  filter: invert(1) hue-rotate(180deg);
}

.image-reverse-gray {
  filter: invert(1) hue-rotate(180deg) grayscale() brightness(160%);
}

.image-reverse-gray-zoom {
  filter: invert(1) hue-rotate(180deg) grayscale() brightness(160%);
  transform: scale(1.475);
}

.image-container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 50rem;
  margin: 0 auto;
}
.pic {
  position: absolute;
  top: 0;
  margin-left: 7.5%;
  margin-right: auto;
  width: 85%;
  height: 85%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: fade 17s infinite;
  animation: fade 17s infinite;
}
#pic1 {
  animation-delay: 0s;
  background-image: url('https://i.imgur.com/DUZSdY5.png');
  filter: grayscale() sepia(25%);
  box-shadow: 0 0 7px 7px black inset;
}
#pic2 {
  background-image: url('https://i.imgur.com/7xo7Qtd.png');
  animation-delay: 4.25s;
  filter: grayscale() sepia(25%);
  box-shadow: 0 0 7px 7px black inset;
}
#pic3 {
  background-image: url('https://i.imgur.com/qS8S6Hb.png');
  animation-delay: 8.5s;
  filter: grayscale() sepia(25%);
  box-shadow: 0 0 7px 7px black inset;
}
#pic4 {
  background-image: url('https://i.imgur.com/nO380Nj.jpeg');
  animation-delay: 12.75s;
  filter: grayscale() sepia(25%);
  box-shadow: 0 0 7px 7px black inset;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  19% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  19% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  margin-right: 8%;
  padding-top: 8rem;
  padding-bottom: 5rem;
  overflow: hidden;
  font-size: 1.1rem;
}

.footer-logo {
  font-size: 2rem;
  font-family: Arial Black;
  text-decoration: none;
}
.footer-left {
  grid-column: span 2;
  grid-row: 1;
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-left: 10rem;
}

.footer-mid {
  grid-column: 3;
  grid-row: 1;
  margin-left: 9rem;
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: .75rem;
}

.footer-right {
  grid-column: 4;
  grid-row: 1;
  margin-left: 9rem;
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-last {
  grid-column: 5;
  grid-row: 1;
  margin-left: 4rem;
}

.footer-icon {
  width: 2rem;
  margin-right: 1.25rem;
}

.footer-arrow {
  border: .9px;
  border-style: solid;
  color:rgb(40, 40, 40);
  padding: .75rem;
}

.footer-bottom {
  grid-row: 2;
  grid-column: 1 / span 2;
  margin-top: 12rem;
  font-size: .9rem;
}

.footer-dev {
  grid-row: 2;
  grid-column: 4 / span 2;
  margin-top: 12rem;
  margin-right: 2.5rem;
  font-size: .9rem;
  text-align: right;
}

.section-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  margin: 0 auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  overflow: hidden;
}

.section-image {
  grid-column: 1;
  grid-row: 1;
  width: 65%;
  margin-left: 25%;
  margin-top: auto;
  margin-bottom: auto;
}

.section-textbox {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 6%;
  margin-right: 32%;
  grid-column: 2;
  grid-row: 1;
  text-align: left;
}

.section-header {
  font-size: 1rem;
}

.paragraph {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  margin-top: 2rem;
}